body{
padding:0px;
margin:0px
}


.container{
width:95%;
height:auto;
padding:0px;
margin:0px
}

.phd{
width:90%;
font-weight:bolder;
text-align:center;
height:auto;
color:#A691A2;
padding:40px;
border:1px #474690 solid;
margin:10px;
background-image:url(images/education.jpg);
/**/
}

.pct{
width:100%;
height:auto;
padding:20px;
border:1px #474690 solid;
margin:10px;
overflow:hidden;
/**/
}

.pft{
width:100%;

height:auto;
padding:40px;
border:1px #474690 solid;
margin:10px
/**/
}


.webmenu{
width:100%;
height:auto;
padding:10px;
border:1px #474690 solid;	
margin:10px	
}


.subtitle{
width:100%;
color:#fff;
height:auto;
text-align:center;
font-size:1.3em;
padding:10px;
border:0px #474690 solid;	
margin:5px	
}



.title{
width:100%;
font-size:1.6em;
text-align:center;
height:auto;
padding:5px;
border:0px #474690 solid;	
margin:5px	
}




.contentimage{
width:80%;
margin:5px	
}

.contenttext{
width:45%;
height:auto;
float:left;
margin-top:10px;
margin-left:5px;
padding:15px;
border:1px blue solid ;
text-align:justify;
}

.contenttext_image{
width:40%;
height:auto;
float:left;
margin-top:10px;
margin-left:5px;
padding:5px;
border:1px blue solid ;
text-align:justify;
}



.contentbasetext{
width:100%;
margin:0px;
padding:20px;
border:1px blue solid ;
text-align:justify;
}




.floatedcontent{
width:100%;
margin:10px;
padding:15px;
border:1px blue solid ;

}